@{
	ViewData["Title"] = "Books";
}

<style>
  .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }

	.icon-font {
		font-size: 1.2rem;
		
	}
</style>


<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-12 text-white text-center">
				<button id="btn-refresh" class="btn btn-warning float-left d-flex align-items-center">
					<ion-icon name="refresh-outline" class="pr-1 icon-font"></ion-icon>
					Refresh</button>
				<button id="btn-create" class="btn btn-success float-right d-flex align-items-center">
					<ion-icon name="add-circle-outline" class="pr-1 icon-font justify-content-center"></ion-icon>
					Create New</button>
			</div>
			<div class="col-md-12">
				<form id="form_create" autocomplete="off">
					<h4>Please fill information below</h4>
					<hr />
					<div class="row">
						<div class="form-group col-lg-4 col-md-6">
							<label for="Title_Create">Title</label>
							<input type="text" class="form-control" id="Title_Create" name="Title" placeholder="Enter Title"/>
						</div>
						<div class="form-group col-lg-4 col-md-6">
							<label for="Type_Create">Type/Genre</label>
							<select class="form-control" id="Type_Create" name="Type" placeholder="Select Type">

							</select>
						</div>

						<div class="form-group col-lg-4 col-md-6">
							<label for="Publisher_Create">Publisher</label>
							<select class="form-control" id="Publisher_Create" name="PublisherId">

							</select>
						</div>

						<div class="form-group col-lg-4 col-md-6">
							<label for="Price_Create">Price</label>
							<input type="number" class="form-control" id="Price_Create" name="Price" placeholder="Enter Price"/>
						</div>
						<div class="form-group col-lg-4 col-md-6">
							<label for="Advanced_Create">Advanced</label>
							<input type="number" class="form-control" id="Advanced_Create" name="Advanced" placeholder="Enter Advanced"/>
						</div>
						<div class="form-group col-lg-4 col-md-6">
							<label for="Royalty_Create">Royalty</label>
							<input type="number" class="form-control" id="Royalty_Create" name="Royalty" placeholder="Enter Royalty"/>
						</div>

						<div class="form-group col-lg-4 col-md-6">
							<label for="Note_Create">Note</label>
							<input type="text" class="form-control" id="Note_Create" name="Note" placeholder="Enter Note"/>
						</div>
						
						<div class="m-2 col-sm-12 text-center">
							<button type="button" id="form_create_close" class="btn btn-danger">Close</button>
							<button type="submit" class="btn btn-success">Create</button>
						</div>
					</div>
				</form>

			</div>
			<div class="col-md-12">
				<h4 class="text-uppercase text-center ">Book Management</h4>
				<hr />
				<input class="form-control" id="myInput" type="text" placeholder="Search..">
				<br>
				<table id="table_items" class="table table-hover table-striped table-md-responsive text-left">
					<thead class="table-hover text-white table-dark">
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>Type/Genre</th>
							<th>Price</th>
							<th>Advanced</th>
							<th>Royalty</th>
							<th>Publisher</th>
							<th>Note</th>
							<th>Setting</th>
						</tr>
						<tr id="loading">
							<td colspan="8">
								<div class="spinner-border text-secondary" role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</td>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
				
				<a name="editSection">
					<form id="form_update" autocomplete="off" style="gap: 10px">
						<hr />

						<div class="row">

							<div class="form-group col-lg-4 col-md-6">
								<label for="Id_Update">Id</label>
								<input type="text" readonly class="form-control" id="Id_Update" name="Id" />
							</div>

							<div class="form-group col-lg-4 col-md-6">
								<label for="Title_Update">Title</label>
								<input type="text" class="form-control" id="Title_Update" name="Title" placeholder="Enter Title" />
							</div>
							<div class="form-group col-lg-4 col-md-6">
								<label for="Type_Update">Type/Genre</label>
								<select class="form-control" id="Type_Update" name="Type" placeholder="Select Type">
								</select>
							</div>

							<div class="form-group col-lg-4 col-md-6">
								<label for="Publisher_Update">Publisher</label>
								<select class="form-control" id="Publisher_Update" name="PublisherId">
								</select>
							</div>

							<div class="form-group col-lg-4 col-md-6">
								<label for="Price_Update">Price</label>
								<input type="number" class="form-control" id="Price_Update" name="Price" placeholder="Enter Price" />
							</div>
							<div class="form-group col-lg-4 col-md-6">
								<label for="Advanced_Update">Advanced</label>
								<input type="number" class="form-control" id="Advanced_Update" name="Advanced" placeholder="Enter Advanced" />
							</div>
							<div class="form-group col-lg-4 col-md-6">
								<label for="Royalty_Update">Royalty</label>
								<input type="number" class="form-control" id="Royalty_Update" name="Royalty" placeholder="Enter Royalty" />
							</div>

							<div class="form-group col-lg-4 col-md-6">
								<label for="Note_Update">Note</label>
								<input type="text" class="form-control" id="Note_Update" name="Note" placeholder="Enter Note" />
							</div>

							<div class="m-2 col-sm-12 text-center">
								<button type="button" id="form_update_close" class="btn btn-danger">Close</button>
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>
					</form>
				</a>

				

			</div>
		</div>
	</div>

</div>

@section Scripts {

<script>

	//Tale Search
		$(document).ready(function () {
			$("#myInput").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("#item.id tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});

// Definition

var baseUrl = "https://localhost:44310/api/";
var itemList = [];
var selectedItem = null;
var selectedIndex = -1;

var getAllItems = function() {

	$("#table_items").show();
    $("#loading").show();

	$.get(baseUrl + "Books", function(data, status)
	{
        if (status == "success") {
			$("#loading").hide(0.5);
            itemList = data;
            console.log(itemList);
            renderItems(itemList);
        }
        else {
            alert(data);
		}
	});

}

var renderItems = function(dataset) {
            
    let dataRow = "";
	
	dataset.forEach((item, idx) => {
        dataRow += 
		`
		<tr id="${item.id}">
			<td>${item.id}</td>
			<td>${item.title}</td>
			<td>${item.type.name}</td>
			<td>${item.price}$</td>
			<td>${item.advanced}$</td>
			<td>${item.royalty}$</td>
			<td>${item.publisher.name}</td>
			<td>${item.note}</td>
			<td>
					<a href="./Books#editSection">
					<button name="btn-update" class="btn btn-outline-primary m-1" value="${idx}">Edit</button>
			</a>

						<button name="btn-delete" class="btn btn-outline-danger m-1" value="${idx}">Delete</button>
			</td>
		<tr>
		`;
    });

    $("#table_items tbody").html(dataRow);
    addFillDataEvent();

}

var addFillDataEvent = () => {
	$("button[name='btn-update']").click(updateBtnClicked);
	$("button[name='btn-delete']").click(deleteBtnClicked);
}

var updateBtnClicked = (e) => {

    console.log("update clicked!");
    let idx = e.currentTarget.value;
    selectedItem = itemList[idx];
    selectedIndex = idx;

    fillInfo(selectedItem);

	$("#form_update").show(0.8);
    $("#form_create").hide(0.8);
}

var fillInfo = function(item) {
    $("#Id_Update").val(item.id);
    $("#Title_Update").val(item.title);
    $("#Type_Update").val(item.type.id);
    $("#Publisher_Update").val(item.publisher.id);
    $("#Price_Update").val(item.price);
    $("#Advanced_Update").val(item.advanced);
    $("#Royalty_Update").val(item.royalty);
    $("#Note_Update").val(item.note);
};

var deleteBtnClicked = (e) => {
	console.log("delete clicked!");
            
	let idx = e.currentTarget.value;
	let deleteSelectedItem = itemList[idx];
    console.log(idx);
    console.log(deleteSelectedItem);
    if (confirm(`Delete author with Id=${deleteSelectedItem.id}? You cannot reverse data!`)) {
				
		$.ajax({
		type: 'delete',
        headers: {
			"Content-Type": "application/json"
		},
		url: baseUrl + "Books" + "/" + deleteSelectedItem.id,
		success: function () {
			alert('Request was successful.');
            if (deleteSelectedItem === selectedItem) {
				selectedItem = null;
				selectedIndex = -1;
			}
            $(`#${deleteSelectedItem.id}`).hide(1);
		},
		error: function (err) {
			alert('An error occurred: ' + err.responseText);
			console.log(err.responseText);
		},
	});
	}
}

var getOptions = function(endpoint, DOM) {

	$.get(baseUrl + "AppTypes/" + endpoint, function(data, status)
	{
        if (status == "success") {
            console.log(data);
            filloptionsToSelectBox(DOM, data);
        }
        else {
            alert(data.responseText);
		}
	});
}

var filloptionsToSelectBox = function(DOM, dataset) {
    
	let dataRow = "";

	dataset.forEach((option, idx) => {
        dataRow += 
		`
		<option value=${option.id}>${option.name}</option>
		`;
    });

    DOM.append(dataRow);
}

$("#btn-refresh").click(getAllItems);

$("#form_update_close").click(() => {
    $("#form_update").hide(1);
})

$("#btn-create").click(() => {

	$("#form_create").show(1);
});

$("#form_create_close").click(() => {
    $("#form_create").hide(1);
})

var Init = function() {
	$("#loading").hide();
    $("#table_items").hide();
    $("#form_update").hide();
    $("#form_create").hide();

    getAllItems();
    getOptions("GetBookTypes", $("select[name='Type']"));
    getOptions("GetPublishers", $("select[name='PublisherId']"));
}();

// create publisher use ajax
var frm = $('#form_create');
frm.submit(function (e) {
	// don't submit form yet
	e.preventDefault();

    var object = {};
	// get value from form stackoverflow
	(new FormData(e.target)).forEach(function(value, key){
		// check can parse from string to int or not
		if(!isNaN(value)){
			value = parseFloat(value);
		}
		object[key] = value;
	});

	var json = JSON.stringify(object);

    console.log("Submit(post): " + json);

	$.ajax({
		type: 'post',
        headers: {
			"Content-Type": "application/json"
		},
		url: baseUrl + "Books",
		data: json,
		// onsuccess
		success: function (item) {
			alert('Create publisher was successful, Id=' + item.id);
				console.log(item);
		},
		// onerror
		error: function (err) {
			alert('An error occurred: ' + err.responseText);
			console.log(err.responseText);
		},
	});
});


// update publisher use ajax
var updateFrm = $('#form_update');
updateFrm.submit(function (e) {
	// don't submit form yet
	e.preventDefault();

	var object = {};
	// get value from form stackoverflow
	(new FormData(e.target)).forEach(function (value, key) {
		// check can parse from string to int or not
		if (!isNaN(value)) {
			value = parseFloat(value);
		}
		object[key] = value;
	});

	var json = JSON.stringify(object);

	console.log("Submit(put): " + json);

	$.ajax({
		type: 'put',
		headers: {
			"Content-Type": "application/json"
		},
		url: baseUrl + "Books",
		data: json,
		// onsuccess
		success: function (item) {
			alert('Update publisher was successful, Id=' + item.id);
			console.log(item);

			let newRow =
				`
				<tr id="${item.id}">
					<td>${item.id}</td>
					<td>${item.title}</td>
					<td>${item.type.name}</td>
					<td>${item.price}$</td>
					<td>${item.advanced}$</td>
					<td>${item.royalty}$</td>
					<td>${item.yTDSales}</td>
					<td>${item.note}</td>
							<td>
							<a href="./Books#editSection">
							<button name="btn-update" class="btn btn-outline-primary m-1" value="${idx}">Edit</button>
					</a>

								<button name="btn-delete" class="btn btn-outline-danger m-1" value="${idx}">Delete</button>
					</td>
				<tr>
				`;
			$(`#${item.id}`).replaceWith(newRow); 
			itemList[selectedIndex] = item;
			addFillDataEvent();
		},
		// onerror
		error: function (err) {
			alert('An error occurred: ' + err.responseText);
			console.log(err.responseText);
		},
	});
});

</script>

}