@{
	ViewData["Title"] = "Publishers";
}

<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-12 text-white text-center">
				<button id="btn-refresh" class="btn btn-warning float-left d-flex align-items-center">
					<ion-icon name="refresh-outline" class="pr-1 icon-font"></ion-icon>
					Refresh
				</button>
				<button id="btn-create" class="btn btn-success float-right d-flex align-items-center">
					<ion-icon name="add-circle-outline" class="pr-1 icon-font justify-content-center"></ion-icon>
					Create New
				</button>
			</div>
			<div class="col-md-12">
				<form id="form_create" autocomplete="off">
					<h4>Please fill information below</h4>
					<hr />
					<div class="row">
						<div class="form-group col-lg-4 col-md-6">
							<label for="Name_Create">Name</label>
							<input type="text" class="form-control" id="Name_Create" name="Name" placeholder="Enter Name"/>
						</div>
					
						<div class="form-group col-lg-4 col-md-6">
							<label for="City_Create">City</label>
							<select class="form-control" id="City_Create" name="City" placeholder="Select City">

							</select>
						</div>
						<div class="form-group col-lg-4 col-md-6">
							<label for="State_Update">State</label>
							<select class="form-control" id="State_Create" name="State" placeholder="Select State">

							</select>
						</div>
						<div class="form-group col-lg-4 col-md-6">
							<label for="Country_Update">Country</label>
							<select class="form-control" id="Country_Create" name="Country" placeholder="Select Country">

							</select>
						</div>
						<div class="m-2 col-sm-12 text-center">
							<button type="button" id="form_create_close" class="btn btn-danger">Close</button>
							<button type="submit" class="btn btn-success">Create</button>
						</div>
					</div>
				</form>

			</div>
			<div class="col-md-12">
				<h4 class="text-uppercase text-center ">Publishers Management</h4>
				<hr />
				<input class="form-control" id="myInput" type="text" placeholder="Search..">
				<br>
				<table id="table_items" class="table table-hover table-striped table-md-responsive text-left">
					<thead class="table-hover text-white table-dark">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>City</th>
							<th>State</th>
							<th>Country</th>
							<th>Setting</th>
						</tr>
						<tr id="loading">
							<td colspan="8">
								<div class="spinner-border text-secondary" role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</td>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
				
				<a name="editSection">
				<form id="form_update" autocomplete="off" style="gap: 10px">
					<hr />

					<div class="row">
						<div class="form-group col-lg-4 col-md-6">
							<label for="Id_Update">Id</label>
							<input type="text" readonly class="form-control" id="Id_Update" name="Id" placeholder="Enter Id"/>
						</div>
						<div class="form-group col-lg-4 col-md-6">
							<label for="Name_Update">Name</label>
							<input type="text" class="form-control" id="Name_Update" name="Name" placeholder="Enter Name"/>
						</div>
					
						<div class="form-group col-lg-4 col-md-6">
							<label for="City_Update">City</label>
							<select class="form-control" id="City_Update" name="City" placeholder="Select City">

							</select>
						</div>
						<div class="form-group col-lg-4 col-md-6">
							<label for="State_Update">State</label>
							<select class="form-control" id="State_Update" name="State" placeholder="Select State">

							</select>
						</div>
						<div class="form-group col-lg-4 col-md-6">
							<label for="Country_Update">Country</label>
							<select class="form-control" id="Country_Update" name="Country" placeholder="Select Country">

							</select>
						</div>
						<div class="m-2 col-sm-12 text-center">
							<button type="button" id="form_update_close" class="btn btn-danger">Close</button>
							<button type="submit" class="btn btn-success">Save</button>
						</div>
					</div>
				</form>
				</a>

			</div>
		</div>
	</div>

</div>
@section Scripts {

<script>

// Definition

var baseUrl = "https://localhost:44310/api/";
var publishers = [];
var selectedItem = null;
var selectedIndex = -1;

var getAllPublisher = function() {

	$("#table_items").show();
    $("#loading").show();

	$.get(baseUrl + "Publishers", function(data, status)
	{
        if (status == "success") {
			$("#loading").hide(0.5);
            publishers = data;
            console.log(publishers);
            renderItems(publishers);
        }
        else {
            alert(data);
		}
	});

}

var renderItems = function(dataset) {
            
    let dataRow = "";
	
	dataset.forEach((item, idx) => {
        dataRow += 
		`
		<tr id="${item.id}">
			<td>${item.id}</td>
			<td>${item.name}</td>
			<td>${item.city.name}</td>
			<td>${item.state.name}</td>
			<td>${item.country.name}</td>
					<td>
						<a href="./Publishers#editSection">
							<button name="btn-update" class="btn btn-outline-primary m-1" value="${idx}">Edit</button>
						</a>

						<button name="btn-delete" class="btn btn-outline-danger m-1" value="${idx}">Delete</button>
					</td>
		<tr>
		`;
    });

    $("#table_items tbody").html(dataRow);
    addFillDataEvent();

}

var addFillDataEvent = () => {
	$("button[name='btn-update']").click(updateBtnClicked);
	$("button[name='btn-delete']").click(deleteBtnClicked);
}

var updateBtnClicked = (e) => {

    console.log("update clicked!");
    let idx = e.currentTarget.value;
    selectedItem = publishers[idx];
    selectedIndex = idx;

    fillInfo(selectedItem);

	$("#form_update").show(0.8);
    $("#form_create").hide(0.8);
}

var fillInfo = function(item) {
    $("#Id_Update").val(item.id);
    $("#Name_Update").val(item.name);
    $("#City_Update").val(item.city.id);
    $("#State_Update").val(item.state.id);
    $("#Country_Update").val(item.country.id);
};

var deleteBtnClicked = (e) => {
	console.log("delete clicked!");
            
	let idx = e.currentTarget.value;
	let deleteSelectedItem = publishers[idx];

    if (confirm(`Delete publisher with Id=${deleteSelectedItem.id}? You cannot reverse data!`)) {
				
		$.ajax({
		type: 'delete',
        headers: {
			"Content-Type": "application/json"
		},
		url: baseUrl + "Publishers" + "/" + deleteSelectedItem.id,
		success: function () {
			alert('Request was successful.');
            if (deleteSelectedItem === selectedItem) {
				selectedItem = null;
				selectedIndex = -1;
			}
            $(`#${deleteSelectedItem.id}`).hide(1);
		},
		error: function (err) {
			alert('An error occurred: ' + err.responseText);
			console.log(err.responseText);
		},
	});
	}
}

var getOptions = function(endpoint, DOM) {

	$.get(baseUrl + "AppTypes/" + endpoint, function(data, status)
	{
        if (status == "success") {
            console.log(data);
            filloptionsToSelectBox(DOM, data);
        }
        else {
            alert(data.responseText);
		}
	});
}

var filloptionsToSelectBox = function(DOM, dataset) {
    
	let dataRow = "";

	dataset.forEach((option, idx) => {
        dataRow += 
		`
		<option value=${option.id}>${option.name}</option>
		`;
    });

    DOM.append(dataRow);
}

$("#btn-refresh").click(getAllPublisher);

$("#form_update_close").click(() => {
    $("#form_update").hide(1);
})

$("#btn-create").click(() => {

	$("#form_create").show(1);
});

$("#form_create_close").click(() => {
    $("#form_create").hide(1);
})

var Init = function() {
	$("#loading").hide();
    $("#table_items").hide();
    $("#form_update").hide();
    $("#form_create").hide();

    getAllPublisher();
    getOptions("GetCities", $("select[name='City']"));
    getOptions("GetStates", $("select[name='State']"));
    getOptions("GetCountries", $("select[name='Country']"));
}();

// create publisher use ajax
var frm = $('#form_create');
frm.submit(function (e) {
	// don't submit form yet
	e.preventDefault();

    var object = {};
	// get value from form stackoverflow
	(new FormData(e.target)).forEach(function(value, key){
		// check can parse from string to int or not
		if(!isNaN(value)){
			value = parseFloat(value);
		}
		object[key] = value;
	});

	var json = JSON.stringify(object);

    console.log("Submit(post): " + json);

	$.ajax({
		type: 'post',
        headers: {
			"Content-Type": "application/json"
		},
		url: baseUrl + "Publishers",
		data: json,
		// onsuccess
		success: function (publisher) {
			alert('Create publisher was successful, Id=' + publisher.id);
				console.log(publisher);
		},
		// onerror
		error: function (err) {
			alert('An error occurred: ' + err.responseText);
			console.log(err.responseText);
		},
	});
});


// update publisher use ajax
var updateFrm = $('#form_update');
updateFrm.submit(function (e) {
	// don't submit form yet
	e.preventDefault();

	var object = {};
	// get value from form stackoverflow
	(new FormData(e.target)).forEach(function (value, key) {
		// check can parse from string to int or not
		if (!isNaN(value)) {
			value = parseFloat(value);
		}
		object[key] = value;
	});

	var json = JSON.stringify(object);

	console.log("Submit(post): " + json);

	$.ajax({
		type: 'put',
		headers: {
			"Content-Type": "application/json"
		},
		url: baseUrl + "Publishers",
		data: json,
		// onsuccess
		success: function (item) {
			alert('Update publisher was successful, Id=' + item.id);
			console.log(item);

			let newRow =
				`<tr id="${item.id}">
					<td>${item.id}</td>
					<td>${item.name}</td>
					<td>${item.city.name}</td>
					<td>${item.state.name}</td>
					<td>${item.country.name}</td>
							<td>
								<a href="./Publishers#editSection">
									<button name="btn-update" class="btn btn-outline-primary m-1" value="${idx}">Edit</button>
								</a>

								<button name="btn-delete" class="btn btn-outline-danger m-1" value="${idx}">Delete</button>
							</td>
				<tr>`;
			$(`#${item.id}`).replaceWith(newRow); 
			publishers[selectedIndex] = item;
			addFillDataEvent();
		},
		// onerror
		error: function (err) {
			alert('An error occurred: ' + err.responseText);
			console.log(err.responseText);
		},
	});
});

</script>

}